@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --fondo: rgb(45, 40, 58);
  --formularios-back: rgb(39, 35, 65);
  --nav-back: rgb(30, 29, 41);
  --border:rgb(56, 60, 82);
  --formFontColor:rgb(206, 209, 230);
  --cajas:  rgb(29, 26, 41);
}
.navPanel{
  user-select: none;
  margin: 0px;
  background-color: var(--nav-back);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.navPanel img{
  border-radius: 50%;
  height: 50px;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--fondo);
}
.ventanaCarga{
  display: flex;
  font-size: 30px;
  color: #474963;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
  width: 100%;
}
.logo{
  border-radius: 50%;
  height: 50px;
}
.formularios{
  position: fixed;
}
.contAvatar{
  display: flex;
  justify-content: center;
}
.contAvatar img{
  border-radius: 50%;
  margin-inline: 15px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}
.formularios form{
  user-select: none;
  text-align: center;
  width: 280px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--formularios-back);
  color: #fff;
}
.formularios form input{
  background-color: transparent;
  border-radius: 10px;
  color: var(--formFontColor) ;
  padding: 3px;
  border: 1px solid var(--border);
  margin-block: 2px;
  margin-inline:10px ;
}
.formularios .input-container{
  width: 90%;
  position: relative;
  display: inline-block;
}

.input-container input{
  padding: 10px;
  font-size: 1.1rem;
  width: 100%;
}
.input-container input:focus{
  outline: 2px solid var(--border);
}

.input-container .text{
  pointer-events: none;
  font-size: 0.9rem;
  position: absolute;
  top: 50%;
  right: 0px; /* Ajusta la distancia del texto desde el borde derecho */
  transform: translateY(-50%);
  color: #999; /* Color del texto */
}
.inputImg img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.input-container .icon{
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 20px; /* Ajusta la distancia del texto desde el borde derecho */
  transform: translateY(-50%);
  color: #d4d2d2; /* Color del texto */
}
.termCond span{
  font-size: .7rem;
  color: var(--formFontColor);
}
.verifyEmailMessage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.messageEmail{
  user-select: none;
  color: white;
  background-color: var(--cajas);
  display: flex;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  border: 2px solid var(--border);
  border-radius: 5px;
}
.termCond{
  margin-block: 10px;
  display: flex;
  width: 100%;
}
.contBotonesControl{
  display: flex;
  background-color: var(--border);
  align-items: center;
}
.contBotonesControl button{
  padding-block: 10px;
  width: 25%;
  border: 1px solid var(--border);
  border-radius: 10px;
  color: var(--formFontColor);  
  background-color: var(--nav-back);
  font-size: 1.3rem;
}
.btnCerrar{
  cursor: pointer;
  border: none;
  padding-block: 5px;
  padding-inline: 10px ;
  position: absolute;
  right: 0;
  font-weight: 800;
  color: rgb(255, 249, 245);
  background-color: transparent;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all ease .3s;
}
.btnCerrar:hover{
  background-color: red;
  color:white
}
.errorMessage{
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 2px;
  border-radius: 4px;
  background-color: #ce1d25;
}
.formularios form button[type=submit]{
  cursor: pointer;
  align-self: flex-end; /* Alinea el botón a la derecha */
  margin-top: 10px; 
  color: white;
  padding: 10px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(23, 22, 31);
  transition: all ease .4s;
}
.formularios form button[type=submit]:hover{

  background-color: rgb(44, 143, 105);
}
.formularios form button[type=button]{
  padding: 10px;
  cursor: pointer;
  font-size: 0.8rem;
  background-color: transparent;
  border: none;

  color: var(--formFontColor);
}
.contIni{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 60px;
}
.contIni p{
  width: 50%;
}
.contIni img{
  height: 350px;
}
.navBar{
  user-select: none;
  padding: 10px;
  background-color: var(--nav-back);
  display: flex;
  justify-content: space-between;
}
.agregarHijo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--cajas);
  border-radius: 10px;
  height: 150px;
  width: 150px;
  border: none;
  color: white;
 
}
.control{
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid var(--border);
  height: 90%;
  width: 90%;
}
.control .titulo{
  position: relative;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  width: 100%;
  font-size: 1.3rem;
  padding-block: 2px;
  color: var(--formFontColor);  
  background-color: #474963;
}
.control .titulo img{
  border-radius: 50%;
  padding-inline: 10px;
  width: 50px;
  height: 50px;
}
.controlChildren{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  transition: all .8s ease;
}
.childrenList{
  min-width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
  grid-gap: 10px; 
  transition: all .8s ease;
}
.childrenList img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.contentPanel{
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 10px;
}
.contenedor{
  display: flex;
  margin: 0px;
  width: 100vw;
  height: calc(100vh - 70px)
}
.sidebar{
  height: calc(100% - 2px) ;
  width: 200px;
  border-radius: 1px;
  border: 1px solid var(--border);
  background-color: var(--cajas);
  color: white;
}
.sidebar img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.sidebar .infoUser{
  padding-block: 10px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.infoUser .userName{
  font-size: 1rem;
  font-weight: 700;
}
.infoUser .datos{
  font-size: .9rem;
}
.datosInfo{
  display: flex;
  padding-inline: 5px;
  flex-direction: column;
}
.datosInfo .datos{
  font-size: .9rem;
  margin-left: 10px;
}
.infoUser hr{
  width: 100%;
  height: 1px;
  background-color: var(--border);
  border: none;
}
.btnReg{
  margin-inline: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  color: aliceblue;  
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--cajas);
  transition: all .2s ease-in;
}
.btnReg:disabled{
  cursor:no-drop;
  color: #999;
  background-color: var(--fondo);
}
.resetPassword{
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: #00000093;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all .3s ease;
}
.resetPassword form input{
  background-color: transparent;
  border-radius: 10px;
  font-size: 20px;
  outline: 2px solid var(--border);
  color: var(--formFontColor) ;
  padding: 3px;
  border: 1px solid var(--border);
  margin-block: 2px;
  margin-inline:10px ;
  margin-bottom: 20px;
}
.resetPassword form{
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--formFontColor);
  background-color: var(--formularios-back);
  padding-inline: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--border);
  border-radius: 10px;
}

.btnReg:disabled:hover{
  font-size: 1.3rem;
  color: #999;
  background-color: var(--fondo);
}
.btnReg:hover{
  font-size: 1.31rem;
  background-color: var(--border);
}
.btnAnchor{
  margin-inline: 10px;
  cursor: pointer;
  font-size: 1.3rem;
  color: aliceblue;  
  border: none;
  background: none;
}
footer{
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: rgb(24, 23, 36);
  color: #fff; /* Cambia el color de texto según tus preferencias */
  text-align: center;
  padding: 5px; /* Espacio alrededor del contenido del footer */
  justify-content:center;
  flex-direction: column;
}